/*
NOTE: I DID NOT WRITE THIS CODE. IT WAS FOUND HERE:
	- https://codepen.io/deliciouslycheesy/pen/XBRgYa
*/


body {
	font-family: 'Open Sans', sans-serif;
}

.table-container {
	width: auto;
	padding-top: 10%;
	padding-bottom: 3%;

	/* padding-top: 1px;
	padding-bottom: 30px;
	padding-right: 10px;
	padding-left: 10px;  */
	margin: auto;
	margin-left: 15%;
	margin-right: 15%;

	background: #f0f0f0;
	/* background:#cacaca; */
	justify-content: center;
	justify-items: center;
	box-shadow: 1px 1px;
}

.table-title p {
	color: rgb(43, 42, 42);
	text-align: center;
	font-size: 40;
	/* margin-top: 30px;
	margin-bottom: 20px; */
}


/*** Table Styles **/

.table-fill {
	background: white;
	border-radius:3px;
	border-collapse: collapse;
	margin: auto;
	/* width: 900px; */
	animation: float 5s infinite;
	/* padding-bottom: 330px; */
}
 
th {
	color:#D5DDE5;;
	background:#292929;

	border-bottom: 2px solid #9c9c9c;
	border-right: 1px solid #9c9c9c;
	border-left: 1px solid #9c9c9c;

	font-size: 16px;
	font-weight: 100;
	padding:15px;
	text-align: center;
	vertical-align:middle;
}

tr {
	border-top: 1px solid #C1C3D1;
	border-bottom: 1px solid #C1C3D1;
	color:#000000;
	font-size: 14px;
	font-weight: 30;
	/* text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1); */
}
tr:nth-last-child(2) {
	text-align: center;
}

tr:hover td {
	background:#c9c9c9;
	color:#000000;
	border-top: 1px solid #22262e;
}
 
tr:first-child {
	border-top:none;
}

tr:last-child td:first-child {
	border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
	border-bottom-right-radius:3px;
}
 
td {
	background:#e6e6e6;
	padding: 10px;
	text-align: left;
	vertical-align: middle;
	font-weight: 300;
	font-size: 14px;
	
	/* border-right: 1px solid #000000; */
	border-left: 1px solid #9c9c9c;
}
td:first-child {
	border-left: none;
}
td:nth-last-child(4) {
	text-align: center;
}
td:nth-last-child(3) {
	text-align: center;
}
td:nth-last-child(2) {
	text-align: center;
}
td:last-child {
	text-align: center;
	border-right: 0px;
}

th.text-left {
	text-align: left;
}

th.text-center {
	text-align: center;
}

th.text-right {
	text-align: right;
}

td.text-left {
	text-align: left;
}

td.text-center {
	text-align: center;
}

td.text-right {
	text-align: right;
}
