
body {
	/* background: #fafafa; */
	/* background: #2d2d2d; */
	/* color: #333333; */
	background-image: url("background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	margin-top: 6%;
	margin-left: 14%;
	margin-right: 14%;
	padding: 0;

	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

h1, h2, h3, h4, h5, h6 {
	color: #444444;
}

ul {
	margin: 0;
}

.generic-container {
	width: auto;
	padding-top: 3%;
	padding-bottom: 3%;

	/* padding-top: 1px;
	padding-bottom: 30px;
	padding-right: 10px;
	padding-left: 10px;  */
	margin: auto;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 3%;

	text-align: center;
	background:white;
	/* background:#cacaca; */
	justify-content: center;
	justify-items: center;
	/* box-shadow: 1px 1px; */
}

.bg-steel {
	background-color: #161616;
}

.content-section {
	background: #fafafa;
	padding: 1.5% 2%;
	border: 1px solid #dddddd;
	border-radius: 0.1%;
	margin-bottom: 1.5%;
	/* margin: auto; */
}

