.delete-button {
	background-color: #af4c4c; /* Green */
	border: none;
	color: white;
	
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 9px;
	padding-left: 9px;

	justify-content: center;

	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	
	margin-left: 2px;
	margin-right: 2px;
}
.add-button {
	background-color: #43A047; /* Green */
	border: none;
	color: white;
	
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 7.5px;
	padding-left: 7.5px;

	justify-content: center;

	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;

	margin-left: 2px;
	margin-right: 2px;
}
.save-button {
	background-color: #43A047; /* Green */
	border: none;
	color: white;
	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 25px;
	padding-left: 25px;

	font-size: 17px;
	margin-top: 25px;
}

.green-button {
	font-family: "Roboto", sans-serif;
	/* font-family: "Open Sans"; */
	font-weight: 590;
	outline: 0;
	border-radius: 25px;
	background: #19be1e;
	width: 80%;
	border: 0;
	/* padding: 15px  */
	padding: 5%;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.host-guest-button {
	font-family: "Roboto", sans-serif;
	/* font-family: "Open Sans"; */
	font-weight: 590;
	outline: 0;
	border-radius: 25px;
	background: #16bb1c;
	width: 40%;
	height: 8%;

	margin-top: 1%;
	margin-bottom: 1%;

	text-align: center;
	border: 0;
	/* padding: 15px  */
	padding: 3%;;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}