{% extends "navbar.html" %}

{% block content %}
<head>
	<link rel="stylesheet" href="/static/css/misc.css" type="text/css">
	<link rel="stylesheet" href="/static/css/dashboard.css" type="text/css">
	<link rel="stylesheet" href="/static/css/main.css" type="text/css">
	<!-- <link rel="stylesheet" href="/static/clock.css" type="text/css"> -->
	<!-- <script type='text/javascript' src='/static/clock.js'></script> -->
	<!-- <script type="text/javascript" src="/static/js/guest_dashboard.js"></script> -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <meta charset='UFT-8' name='viewport' content='width=device-width, initial=scale=1.0' > -->
</head>

<body>

	<div class="generic-container" style="background-color: #ffffff; margin-left: 5%; margin-right: 5%;">

		<form method="POST">
			<input type="text" placeholder="Session ID" name="session_id" style="width: 50%; margin-bottom: 2%; margin-top: 0.5%;" required>
			<br>
			<button class="green-button" style="width: 15%; padding-top: 1%; padding-bottom: 1%;">Submit</button>
		</form>

	</div>
</body>
{% endblock %}
