{% extends "navbar.html" %}

{% block content %}
<head>
	<link rel="stylesheet" href="/static/dashboard.css" type="text/css">
	<link rel="stylesheet" href="/static/css/misc.css" type="text/css">
	<link rel="stylesheet" href="/static/css/dashboard.css" type="text/css">
	<link rel="stylesheet" href="/static/css/main.css" type="text/css">
	<!-- <link rel="stylesheet" href="/static/clock.css" type="text/css"> -->
	<!-- <script type='text/javascript' src='/static/clock.js'></script> -->
	<script type="text/javascript" src="/static/js/host_dashboard.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <meta charset='UFT-8' name='viewport' content='width=device-width, initial=scale=1.0' > -->
</head>

<body>

	<div class="generic-container" style="background-color: #ffffff; margin-left: 5%; margin-right: 5%;">
		<div class="table-title" style="font-size: 24px;">Session ID: {{ session_id }}</div>
		<br>

	
		<img src="{{ current_song.img_url }}" style="height: 400px; padding-bottom: 1%;">
		<div class="table-title" style="font-size: 32px;"><b>Currently Playing: </b>{{ current_song.name }} - {{ current_song.artist }}</div>
		
		<br>
		<br>

		<div class="table-title" style="font-size: 32px;"><p>Queued Songs</p></div>
		<table class="table-fill" style="width: 75%;" id="queued-table">
			<thead>
				<tr>
					<th class="text-center">Name</th>
					<th class="text-center">Artist</th>
				</tr>
			</thead>

			<tbody class="table-hover">
				{% for song in queued_songs %}
				<tr>
					<td class="text-center">{{ song.name }}</td>
					<td class="text-center">{{ song.artist }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<br>
		<br>

		<div class="table-title" style="font-size: 20px;"><p>Requested Songs</p></div>
		<table class="table-fill" id="requested-table" style="width: 50%;">
			<thead>
				<tr>
					<th class="text-center">Requested By</th>
					<th class="text-center">Name</th>
					<th class="text-center">Artist</th>
					<th class="text-left"></th>
				</tr>
			</thead>

			<tbody class="table-hover">
				{% for song in requested_songs %}
				<tr>
					<td class="text-center">{{ song.requested_by }}</td>
					<td class="text-center">{{ song.name }}</td>
					<td class="text-center">{{ song.artist }}</td>
					<td><button class="add-button" onclick="queue_song(this)">+</button><button class="delete-button" onclick="remove_song(this)">-</button></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<!-- <br> -->
		<!-- <button class="green-button" style="width: 15%; padding-top: 1%; padding-bottom: 1%;">Save</button> -->

<!-- 
		<div style="text-align:center">
			
			<input type="button" value="Save" onclick="send_form()" class="save-button">
			
		</div> -->

	</div>
</body>
{% endblock %}
