<head>
	<link rel="stylesheet" href="/static/dashboard.css" type="text/css">
	<link rel="stylesheet" href="/static/css/misc.css" type="text/css">
	<link rel="stylesheet" href="/static/css/main.css" type="text/css">
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset='UFT-8' name='viewport' content='width=device-width, initial=scale=1.0' >
</head>

<body>
	<div class="generic-container">
		<a href="/dashboard-host"><button class="host-guest-button">Host a session</button></a>
		<br>
		<a href="/guest-enter-session-id"><button class="host-guest-button">Join a session</button></a>

	</div>
</body>

