<html lang='en'>
	<head>
		<title>Login</title>
		<meta charset='UFT-8' name='viewport' content='width=device-width, initial=scale=1.0' >
		<link rel='stylesheet' type='text/css' href='/static/css/login.css'>
		<link rel='stylesheet' type='text/css' href='/static/css/misc.css'>
		<script type="text/javascript" src = "/static/js/login.js"></script>
	</head>
	<body>
		
		<div class="login-page">

			<!-- <div class="login-form" method="POST"> -->
				<div class="form">
					<!-- <img src="/static/Spotify-Logo.png" style="height: 18%; width: 100%;"> -->
					<img src="/static/Spotify-Logo.png" style="height: 20%;">
					<h1 style="font: 'Roboto'">Groupify</h1>
					<button class="green-button" onclick="authenticate()">Log In With Spotify</button>
				</div>
			<!-- </div> -->

		</div>
		
		<!-- <script type='text/javascript' src='/static/clock.js'></script> -->
	</body>
</html>