<html lang='en'>
	<head>
		<title>Login</title>
		<meta charset='UFT-8' name='viewport' content='width=device-width, initial=scale=1.0' >
		<link rel='stylesheet' type='text/css' href='/static/css/login.css'>
		<script type="text/javascript" src = "/static/js/login.js"></script>
	</head>
	<body>
		
		<div class="login-page">
			<div class="form">
				<img src="/static/Spotify-Logo.png" style="height: 18%; width: 100%;">
				<button onclick="authenticate()">Log In With Spotify</button>
			</div>
		</div>
		
		<!-- <script type='text/javascript' src='/static/clock.js'></script> -->
	</body>
</html>